/*********************************************
STYLE RESET
*********************************************/
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    /* color: var(--text); */
}

:root{
    --background: #252525;
    --text: #ffffff;
    --dark-text: #ababab;
    --accent: #5dc7c7;
    --accent2: #366E67;
    --shader: #1f1f1f;
}

::-moz-selection { /* Code for Firefox */
    color: var(--text);
    background: var(--accent);
}

::selection {
    color: var(--text);
    background: var(--accent);
}

/*  Scrollbar style */
/*  Width   */
::-webkit-scrollbar {width: 0.6rem;}

/*  Track   */
::-webkit-scrollbar-track {background: var(--shader);}
   
/*  Handle  */
::-webkit-scrollbar-thumb {background: var(--text);}
  
/*  Handle on hover */
::-webkit-scrollbar-thumb:hover {background: var(--accent);}

body{
    background-color: var(--background);
    /* padding: 0% 8%; */
    color: var(--text);
}

h1,h2,h3{
    margin: 0 0 0.8rem 0;
    padding: 0;
}

h1{font-size: 4rem; line-height: 4rem; margin-bottom: 2rem;}
h2{font-size: 2rem;}
h3{font-size: 1rem;}

p{
    margin: 0 0 0.3rem 0;
    padding: 0;
}


/*********************************************
                NAVBAR
*********************************************/
nav{
    position: sticky;
    top: 0;
    left: 0;
    padding: 1% 0%;
    border-bottom: 2px solid var(--text);
    background-color: var(--shader);
}

.fixed-nav{
    position: fixed;
    top: 0;
    width: 100%;
}

nav a:hover{
    color: var(--accent);
}

.big_nav {
    display: none;
}

.icon{
    position: relative;
    height: 100%;
}

.icon-default{
    position: relative;
    top: 0;
    left: 0;
}

.icon-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.icon-hover:hover{
    opacity: 1;
}

.icon-default:hover{
    opacity: 0;
}

.profile{
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.login-container{
    border: 2px solid var(--accent);
    background-color: var(--text);
    border-radius: 4rem;
    overflow: hidden;
}

.sign-up{
    background-color: var(--accent);
    color: var(--background) !important;
    height: 20px;
    padding: 1rem;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    margin-right: -5px;
}

.log-in{
    background-color: white;
    color: var(--background) !important;
    height: 20px;
    padding: 1rem;
}

.log-in-icon{
    display: none;
}

/* Little burger menu nav for when screen is smaller than 520px */
.lil_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    gap: 2rem;
    height: 4rem;
    color: var(--heading);
    background-color: var(--background);
    font-size: 1.2rem;
    padding: 2% 8%;
    border-bottom: 2px solid var(--text);
}

.lil_nav a{
    color: var(--text);
    text-decoration: none;
    transition: 0.3s;
}

.lil_nav a:hover{
    color: var(--accent);
}

.lil_nav span{
    color: var(--text);
    transition: 0.3s;
    margin-left: auto;
}

.lil_nav span:hover{
    color: var(--accent);
} 

/* Overlay for the nav */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background);
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 8%;
    font-size: 1.2rem;
    margin-top: 1rem;
}

/*      Breakpoints for when screen gets bigger         */
@media screen and (min-width: 900px){
    .lil_nav{
        display: none;
    }
    
    header img{
        border-radius: 0.4rem;
        }
    
        header img a{
        padding: 0;
        align-items: center;
    }
    
    .active{
        text-decoration: underline;
    }
    
    /* Nav bar for when screen is larger than 520px */
    .big_nav {
        display: flex;
        align-items: center;
        margin: 0% 8%;
        gap: 2rem;
        height: 3rem;
        color: var(--heading);
        font-size: 1.2rem;
        }

        .big_nav img{
        height: 100%;
        transition: 0.3s ease-out;
        }
    
        .big_nav a{
        text-decoration: none;
        transition: 0.3s ease-out;
        color: var(--text);
        }
}


/*********************************************
                FOOTER
*********************************************/
footer{
    display: flex;
    align-items: end;
    width: 100%;
    background-color: var(--shader);
    padding: 4% 8%;
    margin-top: 3rem;
    background-color: var(--shader);
}

footer h3:nth-child(2){
    margin-left: auto;
}

.footer-about{
    display: flex;
    flex-direction: column;
}

.footer-about h3{
    font-weight: bold;
    font-size: 1.2rem;
}

.footer-about a{
    color: var(--text);
    text-decoration: none;
}

/*********************************************
                UTILITY
*********************************************/

.white-section{
    background-color: var(--text);
    padding: 8%;
    }

    .white-section h1,
    .white-section h2,
    .white-section p,
    .white-section i{
    color: var(--background);
    padding: 0;
}

.black-section{
    padding: 4% 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--text);
    }

    .black-section h1,
    .black-section h2{
    font-weight: 700;
    color: var(--text);
    }

button{
    color: var(--background);
    background-color: var(--accent);
    padding: 0.4rem 0.8em;
    border-radius: 0.4rem;
    box-shadow: 0 8px var(--accent2);
    transition: 0.15s ease-in-out;
    border: none;
    margin-bottom: 8px;
}

button:hover{
    box-shadow: 0 5px var(--accent2);
    transform: translateY(3px);
}

button:active{
    box-shadow: none;
    transform: translateY(8px);
    background-color: var(--accent);
}

.accordion-button, 
.accordion-button:hover{
    box-shadow: none;
    transform: none;
}

.accordion{
    border-radius: 0.4rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.launch button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

code{
    background-color: var(--shader);
    color: var(--text);
    border-radius: 0.4rem;
    padding: 0.3rem;
}

.cards{
    display: flex;
    gap: 1em;
}

.black-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }

    .black-card img{
    width: 100%;
}

.white-card{
    display: flex;
}

.divider{
    padding: 0;
    margin: 2rem 0;
    border: 1px solid var(--dark-text);
}

.vertical-divider{
    padding: 0;
    border-left: 2px solid var(--dark-text);
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    filter: grayscale(1);
}

.welcome{
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1% 8%;
    }
    
    .take-off{
        position: absolute;
        border-radius: 0.4rem;
    }

    .take-off span{
        font-size: 7rem;
        color: var(--accent);
    }

    .take-off h1{
        font-size: 4rem;
        padding: 0;
        margin: 0;
        line-height: 5rem;
        color: var(--text);
        text-shadow: 0.4rem 0.4rem var(--accent2);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    }

    .login-box{
    width: 25rem;
    padding: 1em;
    background-color: var(--accent);
    border-radius: 0.375rem;
    }

    .box-top{
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--text);
        margin-bottom: 1em;
    }

    .close{
        margin-left: auto;
        cursor: pointer;
    }

    .details{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .details input{
        width: 100%;
        border-radius: 0.375rem;
    }

    .details p{
        margin-bottom: 0.2em;
    }


/*********************************************
                COURSES
*********************************************/

.courses{
    margin-top: 4rem;
    padding: 1% 8%;
}

.html{grid-area: html;}
.css{grid-area: css;}
.java{grid-area: java;}
.basics{grid-area: basics;}

.course-select{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'html html html css css css'
    'basics basics java java java java';
    gap: 2rem;
}

.course-header{
    display: flex;
    margin-bottom: 2rem;
}

.course-header i{
    margin-left: auto;
    font-size: 2rem;
}

.course-card{
    border: 2px solid var(--accent);
    border-radius: 0.3rem;
    padding: 2rem;
    /* box-shadow: 5px 5px var(--accent2); */
}

.course-card p:nth-child(4){
    color: var(--dark-text);
}

.start button{
    margin-top: 1rem;
}

.length{
    color: var(--text);
    margin: 1rem 0;
}

.learning-menu{
    position: sticky;
    top: 1rem;
    overflow: hidden scroll;
    padding-right: 2rem;
    border-right: 1px solid var(--dark-text);
}

.learning-content{
    grid-area: content;
    padding-left: 2rem;
}

.learning-content p{
    margin-top: 2rem;
    color: var(--dark-text);
}

.learning-content img{
    border-radius: 0.4rem;
    margin: 2rem 0;
    /* width: 100%; */
}

.learning-hud{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'menu content content content'
    'menu content content content';
}

.menu h2{
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.4rem;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li a{
    text-decoration: none;
    color: var(--dark-text);
    transition: 0.3s;
}

.menu ul li a:hover{
    color: var(--accent);
}

.offcanvas-body{
    background-color: var(--background);
}

.offcanvas-header{
    background-color: var(--background);
}

.btn-close{
    background-color: var(--accent);
}

.menu-mobile{
    position: static;
    top: 1rem;
    overflow: hidden scroll;
    padding-left: 2rem;
}

.menu-mobile h2{
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    color: var(--text);
}

.menu-mobile ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-mobile ul li a{
    text-decoration: none;
    color: var(--dark-text);
    transition: 0.3s;
}

.menu-mobile ul li a:hover{
    color: var(--accent);
}

.active{
    color: var(--text);
    }

    .active:hover{
    color: var(--accent);
    }

    .active::before {
    font: var(--fa-font-solid);
    content: '\f0da';
    margin-right: 0.5rem;
}

.disabled{
    pointer-events: none;
    cursor: default;
    }

    .disabled::before {
    font: var(--fa-font-solid);
    content: '\f023';
    margin-right: 0.5rem;
}

ol > li{
    margin-top: 1rem;
}

ol > li a{
    text-decoration: none;
    color: var(--text);
}

ol > li a:hover{
    text-decoration: underline;
}

.dropdown-menu.show{
    z-index: 10;
    position: relative;
}

.color-example{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
}

.color1{background-color: yellow; color: var(--shader); padding: 2rem;}
.color2{background-color: orange; color: var(--shader); padding: 2rem;}
.color3{background-color: red; color: var(--shader); padding: 2rem;}
.color4{background-color: #00ff00; color: var(--shader); padding: 2rem;}
.color5{background-color: blue; color: var(--text); padding: 2rem;}
.color6{background-color: purple; color: var(--text); padding: 2rem;}



/*********************************************
                Resources
*********************************************/
.resources{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card-link{
    display: flex;
    flex-direction: column;
    background-color: var(--shader);
    border-radius: 0.4rem;
    overflow: hidden;
    border: 2px solid var(--accent);
    /* box-shadow: 5px 5px var(--dark-text); */

}

.card-link a{
    text-decoration: none;
}

.card-link img{
    width: 100%;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 200px;
}

.card-content h2{
    font-size: 1.4rem;
}

.link{
    color: var(--text);
    margin-left: auto;
    transition: 0.3s;
}

.link:hover{
    color: var(--dark-text);
}


/*********************************************
                BLOG
*********************************************/
.main{grid-area: main;}
.aside{grid-area: aside;}

.blog-landing{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'main main main main aside aside';
    gap: 2rem;
}

.post{
    /* padding: 2rem; */
    border-radius: 0.4rem;
    background-color: var(--text);
    color: var(--background);
}

.post-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 2px solid var(--accent2);
    padding: 1rem;
}

.post-header h3{
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.post-content{
    padding: 2rem;
}

.post-content textarea{
    width: 100%;
    height: 150px;
    border: 2px solid var(--accent2);
}

.post-submit{
    display: flex;
    justify-content: center;
    padding: 0rem 2rem 2rem 2rem;
}

.event{
    background-color: var(--accent2);
    border: 2px solid var(--accent);
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.event-header{
    display: flex;
    align-content: center;
}

.event-header h2{
    margin-right: auto;
}

.event-join{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.event-join button{
    color: var(--background);
    background-color: var(--text);
    padding: 0.4rem 0.8em;
    border-radius: 0.4rem;
    box-shadow: 0 8px var(--dark-text);
    transition: 0.15s ease-in-out;
    border: none;
    margin-bottom: 8px;
}

.event-join button:hover{
    box-shadow: 0 5px var(--dark-text);
    transform: translateY(3px);
}

.event-join button:active{
    box-shadow: none;
    transform: translateY(8px);
    background-color: var(--dark-text);
}

.communities{
    background-color: var(--text);
    border: 2px solid var(--accent);
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.communities h2,
.community h3,
.communities p{
    color: var(--background);
}

.community{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--background);
    gap: 1rem;
    padding: 1rem 0;
}

.community h3{
    margin-bottom: 0;

}

.dropdown-container{
    display: flex;
    justify-content: end;
    position: inherit;
    z-index: -1;
}

.dropdown-container button,
.dropdown-container button:hover,
.dropdown-container button:active{
    background-color: var(--accent) !important;
    color: var(--background) !important;
    z-index: -1;
}


.live-videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
}

.videos-header{
    margin-bottom: 2rem;
}

.video-card{
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    overflow: hidden;
    border: 2px solid var(--accent2);
}

.live-preview{
    position: relative;
    z-index: -1;
}

.live-preview img{
    width: 100%;
    z-index: -1;
}

.live-tag{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem;
    color: var(--background);
    background-color: var(--accent);
    border: 2px solid var(--accent2);
    border-radius: 0.4rem;
    margin: 0.4rem 0.4rem 0 0;
}

.live-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    padding: 1rem;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(54,110,103,1) 0%, rgba(54,110,103,0) 100%);
}

.live-content p{
    color: var(--text);
}

.community-posts{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 2rem;
    padding: 2rem 0;
}

.community-post{
    width: 250px;
    border-radius: 0.4rem;
    overflow: hidden;
    border: 2px solid var(--accent);
}

.community-post h2{
    font-size: 1.5rem;
}

.link-tag{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.4rem 0.4rem 0 0;
    color: var(--accent);
}

.meme-gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.meme-gallery img{
    width: 100%;
    position: relative;
    z-index: -1;
    border-radius: 0.4rem;
}

.meme-item{
    filter: grayscale(1);
    transition: 0.3s;
}

.meme-item:hover{
    transform: scale(110%);
    filter: grayscale(0);
}



/*********************************************
                PROFILE
*********************************************/
.profile-header{
    display: flex;
    align-items: center;
    padding: 2% 8%;
    height: 200px;
    background-image: url("img/footer-bg.png");
    border-bottom: 2px solid var(--text);
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.profile-picture{
    height: 200px;
    width: 200px;
    padding: 1rem;
    background-color: var(--text);
    border-radius: 100%;
    border: 2px solid var(--accent);
}

.profile-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    bottom: -150px;
}

.profile-picture img{
    width: 100%;
}

.profile h2{
    background-color: var(--shader);
    color: var(--text);
    border-radius: 0.4rem;
    padding: 1rem;
}

.pronouns{
    font-size: 1rem;
    color: var(--dark-text);
}

.panel1{grid-area: panel1;}
.panel2{grid-area: panel2;}
.panel3{grid-area: panel3;}
.panel4{grid-area: panel4;}
.panel5{grid-area: panel5;}
.panel6{grid-area: panel6;}

.profile-dashboard{
    padding: 8% 8%;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    'panel1 panel2 panel3 panel3'
    'panel4 panel5 panel3 panel3'
    'panel4 panel5 panel6 panel6'
    'panel4 panel5 panel6 panel6';
    gap: 2rem;
}

.dashboard h2{
    font-size: 1.4rem;
    font-weight: bold;
}

.panel{
    padding: 1rem;
    background-color: var(--accent2);
    border-radius: 0.4rem;
    border: 2px solid var(--accent);
}

.reminder-header{
    display: flex;
}

.reminder-date{
    margin-left: auto;
}

.notifications{
    /* background-color: var(--text); */
    /* border: 2px solid var(--accent); */
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}

.notifications h2,
.notification h3,
.notifications p{
    color: var(--text);
}

.notification{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid var(--text);
    gap: 1rem;
    padding: 1rem 0;
}

.notification h3{
    margin-bottom: 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.skills p{
    background-color: var(--accent);
    color: var(--background);
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.acquired::after{
    font: var(--fa-font-solid);
    content: '\f058';
    margin-left: 0.5rem;
}

.panel h2{
    border-bottom: 2px solid var(--text);
    padding-bottom: 1rem;
}

.repository-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.repository-list a{
    color: var(--text);
    border-bottom: 2px solid var(--text);
    padding: 0.2rem 0;

}

.repository-header{
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--text);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.repository-header h2{
    border-bottom: none;
    padding-bottom: 0;
    margin: 0;
}

.repository-header button{
    margin-left: auto;
    padding: 0.2rem 0.4rem;
}

.repository-header button{
    background-color: var(--text);
    box-shadow: 0 8px var(--dark-text);
}

.repository-header button:hover{
    background-color: var(--text);
    box-shadow: 0 5px var(--dark-text);
}

.repository-header button:active{
    background-color: var(--dark-text);
    box-shadow: 0 0px var(--dark-text);
}

/*********************************************
                QUERIES
*********************************************/
@media (max-width: 1300px) {
    .blog-landing{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'main'
        'aside';
    }

    .live-videos {
        grid-template-columns: repeat(3, 1fr);
      }
}

@media (max-width: 1200px) {
    .course-select{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'html   css ' 
        'basics java';
    }

    .resources{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .dashboard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'panel1 panel2'
        'panel4 panel5'
        'panel4 panel5'
        'panel4 panel5'
        'panel3 panel3'
        'panel6 panel6';
        gap: 2rem;
    }

    .profile-grid{
        position:inherit;
    }

    .profile-header{
        padding-top: 5rem;
        height: auto;
        justify-content: center;
    }

    .profile-header h1{
        display: none;
    }

    .profile{
        margin: 0;
    }
}

@media (max-width: 1100px) {
    .log-in-icon{
        display: block;
    }

    .login-container{
        display: none;
    }

    .learning-menu{
        display: none;
    }

    .learning-hud{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'menu'
        'content';
    }

    .learning-content{
        padding-left: 0;
    }
}

@media (max-width: 1000px) {
    .course-select{
        grid-template-columns: 1fr;
        grid-template-areas:
        'html' 
        'css'
        'basics'
        'java';
    }
}

@media (max-width: 900px){
    .black-section{
        padding: 4% 8%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: var(--text);
        margin-top: 3rem;
    }

    nav{
        position: static;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .resources{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .live-videos {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome{
        align-items: start;
    }

    .take-off h1{
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .take-off span{
        font-size: 3rem;
        color: var(--accent);
    }
}

@media (max-width: 800px){
    .cards{
        grid-template-columns: 1fr;
    }

    .dashboard{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        'panel1'
        'panel2'
        'panel3'
        'panel4'
        'panel5'
        'panel6';
        gap: 2rem;
    }
}

@media (max-width: 738px) {
    .welcome{
        height: 80vh;
    }

    .welcome h1,
    h1{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 570px) {
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    .course-card p{
        font-size: 0.8rem;
    }

    .resources{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .live-videos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 443px) {
    .welcome h1,
    h1{
        font-size: 2rem;
    }
}